<div class="container text-center">
  <h1>About Us</h1>
  <div class="container">
    <div class="row">
      <br/>
      <p>This is Idea Social. We've all had moments when we couldn't recall brilliant ideas we had a couple days ago. Here you can conveniently jot down any ideas for start ups, apps, movies, and others so you'll never lose them again!.</p>
      <p>We also provide a Community where you can share your ideas with other members. Fellow Thinkers can collaborate on your idea if they wish while Investors can help make your ideas become a reality!</p>
    </div>
  </div>
</div>