<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="text-center">Your Ideas</h1><br/>
      <div class="well">
        <% if user_signed_in? %>
          <% @items.each do |item| %>
            <h2><%= link_to item.title, item %></h2>
            <p><%= item.description %></p>
          <% end %>
        <% end %>
        <br/>
        <%= link_to "New Item", new_item_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>