// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.alignleft {
	float: left;
}
.alignright {
	float: right;
}

.panel-title {
  height: 20px;
  line-height: 20px;
  white-space: nowrap;
}

.truncate {
  width: 900px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
